h1 {
    font-family: sans-serif;
    color: lightseagreen;
    text-transform: uppercase;
}
header {
    font-family: sans-serif;
    color: lightskyblue;
}

footer {
    font-family: sans-serif;
    color: grey;
}

h2 {
    font-family: Georgia;
    color: lightseagreen;
}